.fileBox{
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    min-height: 40vh;
    max-height: 40vh;
    text-align: center;
    border: 1px dashed #2d0e42;
    border-radius: 5vh;
    max-width: 40vw;
    min-width: 40vw;
    background-color: #c1c1c1;
}

.uploadButton{
    max-width: 30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: #92819d;
    border: none;
    min-height: 8vh;
}

.submitButton{
    background-color: #92819d;
    max-width: 10vw;
    min-width: 10vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 5vh;
    min-height: 5vh;
    /* border: none; */
}